.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapper {
  label {
    font-size: 24px;
  }

  input {
    height: 50px;
    padding: 15px;
    border: 1px solid cadetblue;
    border-radius: 5px;
    font-size: 24px;
  }

  button {
    width: fit-content;
    margin: 0 auto;
    height: 50px;
    padding: 0 50px;
    border: 1 px solid darkgray;
    border-radius: 5px;
    font-size: 24px;
    background-color: cadetblue;
    color: #fff;
  }
}